body {
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: [row-header-start] auto
                      [row-content-start] auto
                      [row-panel-start] auto
                      [row-footer-start] auto [row-footer-end];
}

.mainheader {
  grid-row: row-header-start;
}

.content {
  grid-row:  row-content-start;
}

.panel {
  grid-row: row-panel-start;
}

.mainfooter {
  grid-row: row-footer-start;
}

@media (min-width: 550px) {

  .wrapper {
    grid-column-gap: 2em;
    grid-row-gap: 20px;
    grid-template-columns: [col-left-start] minmax(150px, 1fr) [col-main-start] 4fr [col-main-end];
    grid-template-rows: [row-header-start] auto [row-content-start] auto [row-footer-start] auto [row-footer-end];
  }

  .mainheader {
    grid-column: col-left-start / col-main-end;
  }

  .panel {
    grid-column: col-left-start / col-main-start;
    grid-row: row-content-start;
  }

  .content {
    grid-column: col-main-start / col-main-end;
    grid-row: row-content-start;
    
  }

  .mainfooter {
    grid-column:  col-left-start / col-main-end;
  }
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.twitter-tweet {
    box-sizing: border-box !important;
    display: block;
}

blockquote {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    padding-left: 0.2rem;
    border-left: 3px green solid;
} 

a {
    color: green;
}

.contact_link > span {
    display: none;
}
.contact_link > .fa, .contact_link > .fab {
    display: inline;
}

h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}

code {
    font-size: 0.9rem;
    color: red;
}

/* Post titles */
article > h2, article > h2 a {
    font-weight: normal;
    font-size: 24px;
    font-family: Calibri, 'Lucida Grande', Helvetica, Arial, sans-serif;
    line-height: 120%;
    text-decoration: none;
}

/* Archives */

table.grid_archive td, table.grid_archive th {
    padding: .3em .8em;
    border: 1px dotted #aaa;
    text-align: left;
}

table.grid_archive td.arc {
    text-align: center;
}
table.grid_archive a {
    text-decoration: none;
}
.list_archive { display: none; }

@media screen and (max-width: 640px) { 
    .grid_archive { display: none; }
    .list_archive { display: initial; }
}

/* Pagination */

.pagination a {
    text-decoration: none;
    padding: 0.3rem;
}

/* MTG Decklist */
.mtgdecklist {
    max-width: 100%;
}
.mtgdecklist .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.mtgdecklist .box {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}
.mtgdecklist ul {
    list-style-type: none;
}

/* Spoiler shortcode */
.spoiler {
    display: none;
}

/* Asides */
.aside {
    display: block;
}

.aside .meta {
    font-size: 0.7rem;
    color: gray;
}

@media (min-width: 550px) {
    .aside {
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        border-bottom: 1px green dotted;
        width: 100%;
    }
}