body {
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: [row-header-start] auto
                      [row-content-start] auto
                      [row-panel-start] auto
                      [row-footer-start] auto [row-footer-end];
}

.mainheader {
  grid-row: row-header-start;
}

.content {
  grid-row:  row-content-start;
}

.panel {
  grid-row: row-panel-start;
}

.mainfooter {
  grid-row: row-footer-start;
}

@media (min-width: 550px) {

  .wrapper {
    grid-column-gap: 2em;
    grid-row-gap: 20px;
    grid-template-columns: [col-left-start] 1fr [col-main-start] 4fr [col-main-end];
    grid-template-rows: [row-header-start] auto [row-content-start] auto [row-footer-start] auto [row-footer-end];
  }

  .mainheader {
    grid-column: col-left-start / col-main-end;
  }

  .panel {
    grid-column: col-left-start / col-main-start;
    grid-row: row-content-start;
  }

  .content {
    grid-column: col-main-start / col-main-end;
    grid-row: row-content-start;
    
  }

  .mainfooter {
    grid-column:  col-left-start / col-main-end;
  }
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.twitter-tweet {
    box-sizing: border-box !important;
    display: block;
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px green solid;
} 

a {
    color: green;
}

.contact_link > span {
    display: none;
}
.contact_link > .fa, .contact_link > .fab {
    display: inline;
}

/* Post titles */
h2, h2 a {
    font-weight: normal;
    font-size: 24px;
    font-family: Calibri, 'Lucida Grande', Helvetica, Arial, sans-serif;
    line-height: 120%;
    text-decoration: none;
}