{{ if and (.IsPage) ($.Param "comments_enabled") (not (eq .Type "page")) }}
<div class="comments-title"><h3>Comments</h3></div>
<div class="comments">

{{ $url := urls.Parse .Permalink }}		
{{ $filtered := where .Site.Pages "Params.parent_page.urlpath" $url.Path }}
{{ range sort $filtered "Params.date" }}
<div class="comment">
    <h4 class="p-name">Comment by 
            {{ if .Params.author.url }}
                <a href="{{ .Params.author.url }}">{{ .Params.author.name }}</a>
            {{ else }}
                <span class='linkless-commenter'>{{ .Params.author.name }} </span>
            {{ end }}
            on <a href="{{ .Permalink  }}">{{.Date.Format "2006-01-02"}}</a></h4>
    {{.Content}}
</div>
{{ end }}

<p><i>Comments are temporarily disabled. We'll be back soon!</i></p>
</div>

{{ end }}
